html{
    font-family: 'Archivo Narrow', sans-serif;
}
.panel{
/* background-color: rgba(0,255,0,0.2); */
}
#intro{
    background-image:url(images/header.png);
}
.content-area{
    /* background-color: rgba(255,0,0,0.2); */
    width:960px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 0;
}
#description{
    background-color:rgb(204, 204, 255);
    margin:0;
    height:717px;
}
#intro .content-area{
    text-align: center;
}
h1{
    font-size:80px;
    margin:0px;
    margin-top:131px;
}
h2{
    font-size: 30px;
    margin:0;    
    margin-top:-3px;
    margin-bottom:170px;
}
h3{
    margin:0;
    margin-top:14px;
    margin-bottom:32px;
    text-align:center;
    font-size:40px
}
.paragraph{
    margin:0;
    font-size:18px;
    line-height: 25px;
    margin-bottom: 17px;

}
#sky1{
    float:right;
    margin:0;
    margin-bottom:30px;
    margin-left:40px
}
#grid{
    background-color:rgb(129, 231, 214);
    margin:0px;
    margin-top:0px;
    padding: 0;
    padding-bottom: 30px;
}
#sky2{
    float: left;
    margin: 0;
    width:200px;
    height:150px;
    margin-right:13px;
    margin-bottom:23px;


}
li{
    list-style: none;   
    width: 100%;
    margin: 0;
    width:90%;
}
.info{
    margin: 0;
    margin-top:-26px;
}

h4{
    font-size:20px;

}
.cap{
    font-size:18px;
    margin:0;
    margin-top:-18px;
}

ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.s3{
    text-align: center;
    font-size:25px;
    padding-left: 130px;
    padding-right: 130px;
    letter-spacing:0.5px;
    line-height:35px;
}
#conclusion{
    background-color: skyblue;
    padding-bottom:60px;
}
footer{
    margin:0;
    margin-left: 235px;
    margin-top:41px;
    font-size:18px;
    background-color: white;
}
